#wrap {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

canvas {
    border: 1px solid black;
}

#mysterybox {
    width: 100%;
}

.btn {
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
}

#flotreward {
    height: 400px;
    width: 800px;
}

#agentspec {
    width:100%;
    height:250px;
}